<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW3(β)</title>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HMKKELYV14"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HMKKELYV14');
</script>

</head>


<body>
<h2>Hello World3 (β)</h2> 

<!-- <form action="/" method="POST" enctype="multipart/form-data"> -->
<form action="" method="POST" enctype="multipart/form-data">
  <input type="file" name="csvfile"><br><br>
  <input type="submit" value="Upload">
</form>

{% if result_mat %}
<h2>Data</h2>
<!-- {{ data }} -->
<table>
    {% for row in result_arr %}
        <tr>
            {% for col in row %}
                <td>{{ col }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endif %}




<!-- <table>
  <TR>
    <TD align="center">No.</TD>
    <TD align="center">大区分</TD>
    {% for key in all_result %}
      <TD align="center">{{ key }}</TD>
    {% endfor %}
  </TR>
  <TR>
    <TD align="right"">1</TD>
    <TD align="center">{{ max_kubun }}</TD>
    {% for key in all_result %}
      <TD align="right">{{ all_result[key] }}</TD>
    {% endfor %}
  </TR>
</table> -->

<!-- <table>
  {% for i in result4 %}
		<tr>
			{% for j in i %}
			  <td>{{ j }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table> -->

</body>
</html>
