<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HW3(β)</title>
  <link rel="stylesheet" href="static/styles.css">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HMKKELYV14"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HMKKELYV14');
</script>
</head>


<body>
<h2>Hello World3 (β)</h2> 

<form action="" method="POST" enctype="multipart/form-data">
  <input type="file" name="csvfile" accept=".csv"><br><br>
  <input type="submit" value="Upload">
</form>

{% if error_message %}
  <p>{{ error_message }}</p>
{% endif %}

{% if df_values %}
<table>
  <thead>
    <tr>
      <th>No.</th>
      {%- for i in df_columns %}
      <th>{{ i|e }}</th>
      {%- endfor %}
    </tr>
  </thead>
  
  <tbody>
    {%- for i in df_values %}
    <tr>
      <th>{{ df_index[loop.index0]|e }}</th>
      {% for j in i %}
      <td>{{ j|e }}</td>
      {% endfor %}
    </tr>
    {%- endfor %}
  </tbody>
</table>
{% endif %}

</body>
</html>